body {
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff;
}

.navbar a {
    color: #000000 !important;
}

h1, h2 {
    color: #000000;
    font-weight:bold;
}

p {
    color: #000000;
}

.form-container {
  background-color: #adb5bd;
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.custom-input {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #dee2e6;
}

    .custom-input:focus,
    .custom-input:active {
        background-color: #ffffff;
        color: #000000;
        outline: none;
        box-shadow: none;
    }

.custom-input::placeholder {
  color: #000000;
}

.custom-button {
  width: 25%;
  background-color: #636060;
  color: #f8f9fa;
  border: 1px solid #dee2e6;
}

.custom-button:hover {
  background-color: #4e4e4e;
  color: #f8f9fa;
  border-color: #dee2e6;
}
